<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DatabaseConfig>
    <url>jEkrM+nyr7180PVzZpUq2IpAy4V8nihrrmWS+lrn5cfxPre68F2qf+etaqQur9d3</url>
    <dbname>hkg4vs6OJgIsBeNtffmq99WV/jS8OUWymxtjbvNyyYI=</dbname>
    <host>fU3h+WaMPYG5mp+Ch4tXzg==</host>
    <username>V3SP0TaI3qtDfsAKXoIaBQ==</username>
    <password>xZzrlpYvB55DAYb06tsrnA==</password>
    <port>QN0VomkgtjiPkoBxh72ydw==</port>
    <driver>jpmfF1eZtKqRhZHZ+MS7MPQTS15z8nucdSwz8C+9FCI=</driver>
</DatabaseConfig>