/* com.hamza.account.easyedit.TableTest */

.table-row-cell:empty {
    -fx-background-color: rgba(185, 181, 181, 0.84);
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}


.table-column-cell:empty {
    -fx-background-color: rgba(220, 26, 142, 0.92);
}

.table-column-cell:empty .table-cell {
    -fx-border-width: 0px;
}