* {
    -fx-my-global-color: #d9d9d9;
    -fx-button-color: rgba(168, 37, 88, 0.91);
    -fx-Main-color: rgb(145, 141, 141);
    -fx-color-design: rgba(15, 88, 129, 0.98);

    -fx-background-color-table: -fx-button-color;
    -fx-border-color-table: rgb(197, 94, 127);

    /*button*/
    -fx-button-color-hover: #c94747;
}




