* {
    -fx-my-global-color: #d9d9d9;
    -fx-button-color: rgba(94, 12, 43, 0.91);
    -fx-Main-color: rgb(145, 141, 141);
    -fx-color-design: rgba(25, 121, 180, 0.98);
    -fx-button-color-hover: #dc6868;

    /*---------------------------------- table -----------------------------------*/

    -fx-background-color-table: -fx-button-color;
    -fx-border-color-table: rgb(239, 165, 190);
    -fx-background-color-aquaRow: #368BC070;

}






